@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-black: #171717;
  --color-hero: #101010;
  --color-black-half-op: #000;
  --color-white-half-op: #fefefe55;
  --color-white: #fefefe;
  --color-primary: #fe7c2a;
}
::-webkit-scrollbar {
  display: none;
}
@layer base {
  body {
    @apply dark:bg-black bg-white relative  text-white;
  }

  nav {
    @apply px-4 flex items-center justify-between h-17 overflow-hidden;
  }
  h1 {
    @apply md:text-5xl text-3xl font-bold  bg-linear-90 from-primary to-white bg-clip-text text-center text-transparent;
  }
  h2 {
    @apply relative;
  }
}

@layer components {
  .logo {
    @apply h-[40px] w-auto;
  }
  .navigation {
    @apply flex items-center w-full justify-end gap-5 md:mr-8 md:gap-10;
  }
  .nav-menu {
    @apply flex-col -scale-50 pt-16 items-center  rotate-25 gap-5 h-screen absolute -top-full left-[150%] w-full dark:bg-black-half-op bg-white-half-op;
    z-index: 10;
    display: flex;
    gap: 2rem;
  }
  .nav-link {
    @apply hover:text-primary;
    transition: all 0.7s ease-in-out;
    position: relative;
  }
  .nav-link::before {
    content: "";
    transition: all 0.7s ease-in-out;
    @apply absolute top-8 left-0 w-0 h-1 bg-primary rounded-full;
  }
  .nav-link:hover::before {
    @apply w-full;
  }
  .show-menu {
    @apply top-0 left-0 rotate-0 scale-100;
  }
  .features h2::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    position: absolute;
    background-color: var(--color-primary);
    left: -40px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .features::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    border-radius: 50%;
    width: 2px;
    background-color: var(--color-primary);
  }
  .features h2 {
    @apply flex gap-2 items-center font-semibold text-primary text-lg sm:text-2xl;
  }
  .features p {
    @apply dark:text-white-half-op text-black-half-op text-sm sm:text-lg;
  }
}
@layer utilities {
  .trans {
    transition: all 0.7s ease-in-out;
  }
}
